html {
    box-sizing: border-box;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

body {
    align-items: center;
    color: #666;
    display: flex;
    flex-direction: column;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
    font-weight: 300;
    justify-content: center;
    line-height: 1.4;
    margin: 0;
    min-height: 75vh;
    padding: 15px;
}

a {
    color: #3A84D0;
    text-decoration: none;
}

a:hover {
    color: #333;
}

a span {
    text-decoration: underline;
}

footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    display: block;
    margin: 0 auto;
    overflow: hidden;
    padding-right: 1.5rem;
    padding-bottom: 1rem;
}

footer .footer-right-link {
    float: right;
}

.title {
    border: 0;
    clip-path: inset(50%);
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    white-space: nowrap;
    width: 1px;
}

.logo {
    display: block;
    height: auto;
    max-width: 95%;
    width: 700px;
    margin-bottom: 4rem;
}

.list {
    list-style: none;
    margin: 0;
    padding: 0;
    text-align: center;
}

.list>* {
    margin-bottom: 5px;
}

@media (min-width: 800px) {
    .list {
        display: flex;
        justify-content: space-between;
        list-style: none;
        max-width: 100%;
        width: 750px;
    }
    .list>* {
        margin-left: 10px;
        margin-right: 10px;
    }
}
