html {
  box-sizing: border-box;
  padding: 15px;
    box-sizing: border-box;
    padding: 15px;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  margin: 0;
  display: flex;
  flex-direction: column;
  min-height: 75vh;
  height: 100vh;
  justify-content: center;
  align-items: center;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  line-height: 1.4;
  font-weight: 300;
  color: #666;
}

a {
  color: #3A84D0;
}

a:hover {
  color: #333;
}

.title {
  border: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

.logo {
  display: block;
  max-width: 95%;
  width: 700px;
  height: auto;
}

.under-construction {
  font-size: 0.9em;
  margin-bottom: 3em;
}

.list {
  padding: 0;
  margin: 0;
  list-style: none;
  text-align: center;
}

.list>* {
  margin-bottom: 5px;
}

@media (min-width: 640px) {
  .list {
      display: flex;
      justify-content: space-between;
      list-style: none;
      width: 600px;
      max-width: 100%;
  }

  .list>* {
      margin-right: 10px;
      margin-left: 10px;
  }
}
    box-sizing: inherit;
}

body {
    margin: 0;
    display: flex;
    flex-direction: column;
    min-height: 75vh;
    justify-content: center;
    align-items: center;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
    line-height: 1.4;
    font-weight: 300;
    color: #666;
}

a {
    color: #3A84D0;
}

a:hover {
    color: #333;
}

.title {
    border: 0;
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    white-space: nowrap;
    width: 1px;
}

.logo {
    display: block;
    max-width: 95%;
    width: 700px;
    height: auto;
}

.under-construction {
    font-size: 0.9em;
    margin-bottom: 3em;
}

.list {
    padding: 0;
    margin: 0;
    list-style: none;
    text-align: center;
}

.list>* {
    margin-bottom: 5px;
}

@media (min-width: 640px) {
    .list {
        display: flex;
        justify-content: space-between;
        list-style: none;
        width: 600px;
        max-width: 100%;
    }

    .list>* {
        margin-right: 10px;
        margin-left: 10px;
    }
}
